
<nav *ngIf="auth.loggedIn()" >
    <div class ="inner" >
    <ul class="nav nav-tabs">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/viewload']">Loads</a></li>
      <!-- li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/bills']">Bills</a></li>
       <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/settings']">Setting</a></li -->
       <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon">test</a>
       <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" style="float:right;"><a class="fa fa-plus" [routerLink]="['/buildload']">New Load</a></li>
    </ul>
    </div>
     
</nav>

