<div class="container">
  <div class="auth-main">
  <div class="auth-block">
    <h1 class="text-center">Sign In to Our Portal</h1>
    <p class="text-center"><a [routerLink]="['/register']" class="a-text1"> Don't have an Accont..? Sign Up..!</a></p>
    <form #form="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" ngModel class="form-control" placeholder="Your email" >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel class="form-control" id="password">
      </div>

      <!-- div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" formControlName="last_name" class="form-control" id="last_name">
      </div>
      <div class="form-group">
        <label for="displayname">Display Name</label>
        <input type="text" formControlName="display_name" class="form-control" id="display_name">
      </div>
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input type="text" formControlName="new_password" class="form-control" id="new_password">
      </div>
      <div class="form-group">
        <label for="repeatpassword">Repeat Password</label>
        <input type="text" formControlName="email" class="form-control" id="repeatpassword">
      </div-->
      <div class="row">
        <div class="span6 offset3">
                <p style="line-height: 50px; text-align: center;"><button (click)="loginForm(form)" class="btn btn1">Login Here</button></p>
        </div>
    </div>
    </form>
  </div>
  </div>
</div>