.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(44, 62, 80, 0.85);
    color: #fff;
    padding: 32px;
}
.auth-main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
   padding: 4%;
}
a.a-text1 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}