<div class="container">
  <div class="auth-main">
    <div class="auth-block">
      <h1 class="text-center">Sign Up to Our Portal</h1>
      <p class="text-center"><a [routerLink]="['/login']" class="a-text1">Already have an Accont..? Sign in..!</a></p>
      <form #rform="ngForm" *ngIf="show==false">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" name="first_name" id="first_name" ngModel class="form-control" id="first_name" required minlength="5">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" name="last_name" id="last_name" ngModel class="form-control" id="last_name" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" placeholder="Your email" required minlength="5">
        </div>
        <div class="form-group">
          <label for="company">Company Name</label>
          <input type="text" name="company" id="company" ngModel class="form-control" id="company" required minlength="3">
        </div>
        <div class="form-group">
          <label for="company_desk_name">Company Desk Name</label>
          <input type="text" name="company_desk_name" id="company_desk_name" ngModel class="form-control" id="company_desk_name" required minlength="3">
        </div>
        <div class="form-group">
          <label for="Phone">Phone No</label>
          <input type="text" name="phone" id="phone" ngModel class="form-control" id="phone" required minlength="5">
          <input type="hidden" name="step" id="step" [(ngModel)]="this.regstep1" class="form-control" id="step" value = "register" >
        </div>
      <div class="row">
        <div class="span6 offset3">
                <p style="line-height: 50px; text-align: center;"><button (click)="regForm(rform)" class="btn btn1">Get Started For Free</button></p>
        </div>
    </div>
        
      </form>
      <form #verform="ngForm" *ngIf="show==true">
         <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" [(ngModel)]="this.email" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="new_password">New Password</label>
          <input type="password" name="new_password" id="new_password" ngModel class="form-control" id="new_password">
        </div>
        <div class="form-group">
          <label for="password">Repeat Password</label>
          <input type="password" id="password" class="form-control" name="password" ngModel>
          <input type="hidden" id="step" class="form-control" name="step" [(ngModel)]="this.regstep2" value = "email_verify">
          <input type="hidden" id="code" class="form-control" name="code" [(ngModel)]="this.code" value = "this.code">
        </div>
        <div class="row">
        <div class="span6 offset3">
                <p style="line-height: 50px; text-align: center;"><button (click)="regVerForm(verform)" class="btn btn1">Get Started For Free</button></p>
        </div>
    </div>
      </form>
    </div>
  </div>
</div>