.material {
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.vload1,.fload1 {
    color: #ffffff;
    background-color: #efefef;
    border: 0;
    border-radius: 7px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    padding-top :25px;

    overflow-y: scroll;
}

