<div class="banner" id="quote">
    <div class="bg-color">
        <div class="container" [ngSwitch]="value">
            <div class="row test">
                <h1 class="banner-text1">Everything your logistics team needs to</h1>
            </div>
            <div class="row test1" *ngSwitchDefault>
                <h1 class="banner-text">Be Organized</h1>
                <h3 class="banner-content"><span>Transporter Sourcing </span>|<span> Load Template </span>|<span> Price list </span>|<span> Price revision  </span></h3>
                <!-- a [routerLink]="['/register']" class="btn reg-button1">Start Free Trial</a -->
            </div>

            <div class="row test1" *ngSwitchCase="1" [@fadeInOut]>
                <h1 class="banner-text">Be Organized</h1>
                <h3 class="banner-content"><span>Transporter Sourcing </span>|<span> Load Template </span>|<span> Price list </span>|<span> Price revision  </span></h3>

            </div>
            <div class="row test1" [@fadeInOut] *ngSwitchCase="2">
                <h1 class="banner-text">Order Management</h1>
                <h3 class="banner-content"><span>Order Management </span>|<span> Billing and payment management </span>|<span> Digitization of eLR /POD, regulatory documents (GST compliant) </span></h3>

            </div>
            <div class="row test1" *ngSwitchCase="3" [@fadeInOut]>
                <h1 class="banner-text">Make intelligent changes</h1>
                <h3 class="banner-content"><span>Pricing algorithm </span>|<span> Transporter Rating and communication </span>|<span> Exceptions management </span></h3>

            </div>
            <div class="row test1" *ngSwitchCase="4" [@fadeInOut]>
                <h1 class="banner-text">Analyze Results</h1>
                <h3 class="banner-content"><span>Track orders, in transit loads, bills </span>|<span> Monitor business metrics against targets </span>|<span> Receive and send proactive alerts for exception </span></h3>

            </div>
            <div class="row test2 text-center">
                <a [routerLink]="['/register']" class="btn reg-button1">Start Free Trial</a>
            </div>
            <!-- div class="row text-center">
                <a href="#" class="btn reg-button1"> Register Here</a>
            </div -->
        </div>
    </div>
</div>
<div class="banner1" id="features">
    <!-- h1 class="f-title1"> Features</h1-->
    <div class="container container2">
        <div class="row f-icons1">
            <div class="col-md-3 active" [class.active]="default" (click)="value=1" [class.active]="value=='1'" >
                <div class="f-menu1"  >
                    <h4>Plan</h4>
                    <i class="fa fa-lightbulb-o"></i>
                    <h4>Be Organized</h4>
                </div>
            </div>
            <div class="col-md-3" (click)="value=2" [class.active]="value=='2'">
                <div class="f-menu1" >
                    <h4>Do</h4>
                    <i class="fa fa-cogs"></i>
                    <h4>Order Management</h4>
                </div>
            </div>
            <div class="col-md-3" (click)="value=3" [class.active]="value=='3'">
                <div class="f-menu1"  >
                    <h4>Check</h4>
                    <i class="fa fa-pie-chart"></i>
                    <h4>Make intelligent changes</h4>
                </div>
            </div>
            <div class="col-md-3" (click)="value=4" [class.active]="value=='4'">
                <div class="f-menu1"  >
                    <h4>Act</h4>
                    <i class="fa fa-paper-plane"></i>
                    <h4>Analyze Results</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner1" id="footer">
    <footer id="footer" tabindex="-1" class="footer ng-scope">
        <section id="contact">
            <div class="container text-center">
                <ul class="social-links footer-links">
                    <li>
                        <a href="tel:7601020304" target="_blank">
                            <i class="fa fa-phone fa-fw" aria-hidden="true"></i> 76010-20304
                        </a>
                    </li>
                    <li>
                        <a href="https://angel.co/fr8" target="_blank">
                            <i class="fa fa-angellist fa-fw" aria-hidden="true"></i> Join Us</a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/fr8ian" target="_blank">
                            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i> Follow
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@fr8.in" target="_blank">
                            <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> info@fr8.in
                        </a>
                    </li>
                </ul>
                <div class="copyright1">
                    ©2017 FR8. All rights reserved
                </div>
            </div>
        </section>
    </footer>
</div>