<!-- div class="row">
    <button (click)="show = !show" class="fa fa-plus" style="float:right;" > Build Load</button>
</div -->
<div class="row" class="vload" *ngIf="!show" >
    <div class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12 vload1">
        <view-load></view-load>
    </div>
</div>
<!-- div class="row" class="row" class="bload">
    <div class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12 vload1">
        <build-load></build-load>
    </div>
</div -->