
/*@import '../node_modules/font-awesome/css/font-awesome.css';
*/
@media (min-width: 1200px){
.row.test1 {
    width: 1170px;
}
.row.test2 {
    width: 1170px;
}
}
.datatable-header-cell-label {
    color: #222;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.datatable-body-cell-label {
    color: #555;
}
.vload1 {
    padding: 3%;
}
.vload1,.fload1 {
    color: #ffffff;
    background-color: #efefef;
    border: 0;
    border-radius: 7px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    padding-top :25px;
    /*overflow-y: scroll;*/
}
.ilabel1 {
    color: #666;
    text-align: left !important;
    margin-bottom: 8px !important;
}
.banner {
    background: url(../assets/img/bg-banner.jpg) no-repeat center bottom;
    background-size: cover;
    min-height: 420px;
    position: relative;
}
.f-icons1 .col-md-3:hover i,.f-icons1 .col-md-3:hover h4 {
    color: #2C3E50;
}
.bg-color {
    background-color: RGBA(12, 11, 11, 0.72);
    min-height: 420px;
}
h3.banner-content {
    margin-top: 0;
    color: #ccc;
    margin-bottom: 20px;
}
.row.test2 {
    text-align: center;
    margin-top: 9%;
    
    position: absolute;
}
h1.banner-text {
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 35px;
    margin-top: 0;
    
}
.banner-content span {
    padding: 10px;
    transition: .7s;
}
.banner-content span:hover {
    color: #fff;
    text-shadow: 3px -1px 5px #fff;
    cursor: pointer;
}
h1.banner-text1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    line-height: 55px;
    margin-top: 8%; 
    font-weight:bold;
}
.row.test1 {
    position: absolute;
    
    text-align: center;
}

.f-menu1 {
    text-align: center;
}
.f-menu1 i {
    color: #444;
    font-size: 60px;
}
.f-menu1 h4 {
    font-size: 18px;
    text-align: center;
    color: #444;
}
#features {
  background: #efefef;
}
.container2 {
  padding-top : 0;
  padding-bottom :0;
}
.transition{
  -webkit-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  -ms-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out ;
  -o-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  margin-left: 1500px;
  width: 200px;
  opacity: 0;
}

.transition{
  opacity: 100;
  margin-left: 0;
}
.row.f-icons1 {
    padding: 0 15%;
}
.f-icons1 .col-md-3 {
    padding: 2%;
    height: 180px;
    transition: .4s;
    cursor: pointer;
}
.row.f-icons1 {
    /* padding: 2%; */
    
}
.f-icons1 .col-md-3:last-child {
  border-right: none;
}
.f-icons1 .col-md-3:hover {
    border-top: 5px solid #2C3E50;
    background: #fefefe;
}
.f-icons1 .col-md-3.active {
    border-top: 5px solid #2C3E50;
    background: #fefefe;
}
h1.d-head1 {
    text-align: center;
    padding: 3%;
    background: #fefefe;
    font-size: 28px;
    line-height: 42px;
}
h1.f-title1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 23px;
    color: #2C3E50;
    margin-top: 0;
}
.more span {
    
    font-size: 15px;
    font-weight: bold;
   /* background: rgba(255,255,255,.2);
    border: 1px solid #fff;
    border-radius: 5px; */
    cursor: pointer;
    margin: 0 10px 0 10px;
    
}
.more span:hover{
   text-decoration: underline !important;
}
.more {
  width :200px !important;
  margin-top: 16px !important;
}
.footer {
    padding: 40px 0 15px;
    background: #2C3E50;
    color: #ccc;
}
.footer .footer-links.social-links {
    padding: 0;
    margin: 0;
    float: left;
    border-bottom: none;
}
.footer .social-links li {
    display: inline-block;
    margin: 0 25px 25px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .footer-links.social-links li a {
    font-size: 27px;
}
.footer .social-links li a {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
a.a-text1:hover {
    color:#eee;
}
.btn1:hover {
    color: #fff !important;
}
.copyright1 {
    /* border-bottom: 1px solid rgba(255,255,255,0.2); */
    float: left;
    margin: 21px 20px 20px;
    font-size: 13px;
}
.material {
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.ngx-datatable, .info {
    text-align: left;
    
    margin: 0 auto;
}
.ngx-datatable.material .datatable-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
    background-color: #eee;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: left;
    padding: .5rem 1.2rem;
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
}
.ngx-datatable .datatable-header .datatable-header-cell.sortable {
    cursor: pointer;
}
.simple-notification .sn-title {
    margin: 0 ;
    padding: 0 50px 0 0;
    line-height: 19px !important;
    font-size: 16px !important;
    text-align: justify;
}

[_nghost-pse-5] {
  background: #2C3E50!important;
}
.reg1 {
  text-align: center;
}
a.btn.reg-button1 {
    padding: 11px 50px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    transition: .8s;
}
a.btn.reg-button1:hover {
    color: #2C3E50;
    background: #fff;
    font-weight: bold;
}
.more span a {
    color: #fff;
}

/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;

}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
/*
ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}
*/

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}
.container1 {
    /* border:1px solid red; */
    background: #efefef;
    box-shadow: 0px 0px 6px -2px #000;
}
.nav-tabs {
    border-bottom: none;
    padding: 0px 15px 0 15px;
    z-index:3;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color : #000 !important;
  background: #efefef;
}
.nav-tabs>li a {
  color :#fff;
}
.nav-tabs {
  background : #106cc8;
}
.nav-tabs>li {
  margin-top: 0;
}
.nav-tabs>li a:hover {
    color: #000;
}
.nav-tabs>li a:active {
    color: #fff;
}