
<div class="row" class="row" class="bload">
    <div class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12 vload1">
<form  class="form-horizontal" #bform="ngForm" >

      <div class="row">
        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="source" class="col-sm-12 control-label ilabel1">Source</label>
          <div class="col-sm-12">
            <input type="text" name="source" id="source" ngModel class="form-control" required minlength="5" [options]='options' (srcLat)='lat=$event' (srcLon)='lng=$event' ng2-google-place-autocomplete >
            <!-- small [hidden]="source.valid || (source.pristine && !bform.submitted)" class="text-danger">Source is Required (please enter place)</small>
             < input [formControl]="source" type="text" class="form-control" id="inputsource3" placeholder="Source" [options]='options' (srcLat)='lat=$event' (srcLon)='lng=$event' ng2-google-place-autocomplete /--> 
         </div>
        </div>

        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="loadingPoint" class="col-sm-12 control-label ilabel1">Loading Point</label>

          <div class="col-sm-12">
            <input type="text" class="form-control" id="loadingPoint" name="loadingPoint" ngModel placeholder="Loading Point"/>
          </div>
        </div>

        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="destination" class="col-sm-12 control-label ilabel1">Destination</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" name="destination" ngModel id="destination" placeholder="Destination" [options]='options' (destLat)='lat=$event' (destLon)='lng=$event' ng2-google-place-autocomplete/>
         </div>
        </div>
      </div>

       <div class="row">
        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="dropPoint" class="col-sm-12 control-label ilabel1">Drop Point</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="dropPoint" name="dropPoint" ngModel placeholder="Drop Point"/>
          </div>
        </div>

        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="commodity" class="col-sm-12 control-label ilabel1">Commodity</label>
          <div class="col-sm-12">
            <select class="form-control" id="commodity" ngModel name="commodity">
                <option value="" disabled selected>Select Commodity</option>
                <option value="01">Type (01)</option>
                <option value="02">Type (02)</option>
                <option value="03">Type (03)</option>
                <option value="04">Type (04)</option>
                <option value="05">Type (05)</option>
            </select>
          </div>
        </div>

        <div class="form-group row offset-sm-1 col-sm-4" >
          <label for="vehicleType" class="col-sm-12 control-label ilabel1">Truck Type</label>
          <div class="col-sm-12">
            <select class="form-control" id="vehicleType" name="vehicleType" ngModel>
            <option value="" disabled selected>Select Truck Type</option>
                <option value="01">Type (01)</option>
                <option value="02">Type (02)</option>
                <option value="03">Type (03)</option>
                <option value="04">Type (04)</option>
                <option value="05">Type (05)</option>
            </select>
          </div>
        </div>

      </div>

 <div class="row">
        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="myDate" class="col-sm-12 control-label ilabel1"> Date and Time</label>
          <div class="col-sm-12">
            <input id="myDate" name="myDate" ngModel class="form-control" ng2-datetime-picker  close-on-select="true" placeholder="Pickup Date and Time"/>
          </div>
        </div>

        <div class="form-group row offset-sm-1 col-sm-4">
          <label for="quotePrice" class=" ilabel1 col-sm-12 control-label ">Quote Price</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="quotePrice" ngModel name="quotePrice" placeholder="Quote Price">
          </div>
        </div>
        <div class="form-group row offset-sm-1 col-sm-4" style="text-align: center;">
          <label for="quotePrice" class=" ilabel1 col-sm-12 control-label ">&nbsp;</label>
          <div class="">
            <button (click)="regVerForm(verform)" class="btn btn-default btn-auth btn-new1">Build Load</button>
          </div>
        </div>
 </div>


        

      </form>
    </div>
</div>
