<div class="tool-bar1">
<h1> FR8 Desk</h1>

<div class="more">
 <span *ngIf="auth.loggedIn()" (click)="logout()">Log Out</span> 
 <span *ngIf="!auth.loggedIn()" ><a [routerLink]="['/login']">Log In</a></span><span *ngIf="!auth.loggedIn()">  |  </span>
 <span *ngIf="!auth.loggedIn()" ><a [routerLink]="['/register']">Sign Up</a></span>
</div>