:host {
  background-color: #2C3E50 !important;;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.more {
  
  float: right;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}


