
.backgroundColor {
    margin:0px auto;
    width:100%;
   
    /* background-color:#2f363d;*/
    background-color:#ededed;
    padding-left:0px;
      padding-right:0px;
    
    position: relative;
    z-index: 10;
}
.backgroundColor:after {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
   /* top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;*/
    z-index: -1;
}