<div class="container-fluid backgroundColor">
<simple-notifications [options]="options"></simple-notifications>
<sd-toolbar></sd-toolbar>
<div>
<sd-navbar></sd-navbar>
<router-outlet></router-outlet>
</div>
</div>

 
 

 

